extends layout

block content
  h1= title
  
  form(action="/new", method="post") 
    input(type="text", name="messageAuthor")
    input(type="text", name="messageText")
    button(type="submit") submit message